/* header{
    height: 80vh;
    width: 100%;
    background-color: darkcyan;
}
.ulduz{
    position: relative;
    cursor: pointer;
}
.ulduz i {
    font-size: 30px;
    transition: transform 3s, font-size .5s;
    transition: .5s;
}
.ulduz::after, .ulduz::before{
    content: '';
    position: absolute;
    height: 2.5px;
    border-radius: 20px;
    top: 0px;
    background-color: #fff;
    width: 0px;
    transition: 1s;
}
.ulduz::before{
    right: 35px;
}
.ulduz::after{
    left: 35px;
}
.ulduz:hover::before, .ulduz:hover::after{
    width: 100px;
}
.ulduz i:hover{
    transform: rotate(360deg);
    font-size: 35px;
}
ul li {
    display: inline-block;
} */
.loader{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
}
i{
    font-size: 150px;
    color: #fff;
    animation: spin 1.5s infinite linear;
    /* animation-timing-function:cubic-bezier(1,.08,0,1.34); */
}
@keyframes spin{
    from{
        /* transform: translateX(-500px); */
        transform: rotate(0deg);
    }
    to{
        /* transform: translateX(500px); */
        transform: rotate(360deg);
    }
}
