body{
    background-color: #ECF2FF;
}
.d-flex{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.form{
    width: 30%;
    border: .5px solid #3E54AC;
    padding: 25px;
    position: relative;
    background-color: white;
}
.form::before{
    content: '';
    width: 120px;
    height: 120px;
    background-color: #655DBB;
    position: absolute;
    right: -35px;
    top: -50px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(15px);
    animation: move 15s infinite alternate;
}
/* .form::after{
    content: '';
    width: 100%;
    height: 2.5px;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 0;
    transform: rotate(45deg);
} */
.btn-submit{
    padding: 10px 40px;
    cursor: pointer;    
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #5063af;
    color: #fff;
    border: none;
    font-size: 17px;
    transition: .5s;
}
.btn-submit:hover{
    background-color: #3E54AC;
}
@keyframes move {
    0%{
        top: -50px;
        right: -35px;
    }
    25%{
        top: 250px;
        right: -35px;
    }
    50%{
        top: 250px;
        right: 500px;
    }
    75%{
        top: -50px;
        right: 500px;
    }
    100%{
        top: -50px;
        right: -35px;
    }
}